<!DOCTYPE html>

<html>
  <head>

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

    <title>{% if page.title %}{{ page.title }} | {% endif %}zozi Dev Blog: Software Craftsmanship in an Extreme Startup</title>

    <link type="text/css" rel="stylesheet" href="/stylesheets/reset.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/screen.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/code.css">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

  </head>
  <body class="{{ page.layout }}">

    <section id="main">

      <section id="masthead" class="group">
        <header class="group">
          <p><a href="/">zozi dev blog</a></p>
          <h1>Software Craftsmanship in an Extreme Startup</h1>
        </header>
      </section>

      <section id="focus" class="group">

        <section id="content" class="group">
          {{ content }}
        </section>

        <section id="sidebar">

          <section id="meta-col1" class="meta group">
            <aside id="about">
              <header>
                <h3>The Team</h3>
              </header>
              <p>
                We are a small team of software developers in the Jackson Square area of downtown San Francisco.
                <a href="http://www.zozi.com/">Our company</a> is heavily influenced by the Lean Startup movement,
                and as a development team we practice the full Extreme Programming suite of practices,
                and strive to embody its values.
                <!--We are lucky to have attracted a great group of talented and experienced developers,-->
                <!--who are making us even better than when we hired them!-->
              </p>
            </aside>

          </section>

          <section id="meta-col2" class="meta group">

            <aside id="bio">
              <header>
                <h3>The Blog</h3>
              </header>
              <p>
                This blog is a place to share useful tidbits,
                both technical solutions and ways we find to improve the process of working together on developing software.
              </p>
            </aside>

          </section>

        </section>

      </section>

      <section id="footer" class="group">
        <footer class="group">
          <nav id="site">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="mailto:dev.blog@zozi.com">Contact</a></li>
              <li><a href="/powered_by">Powered by...</a></li>
            </ul>
          </nav>
          <p class="copyright">
            &copy;2011 &ndash; zozi
          </p>
        </footer>
      </section>

    </section>

  </body>
</html>
